body {
    display: flex;
    height: calc(100vh - 1px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1D263B;
    color: white;
    box-sizing: border-box;
    margin: 0;
}

.button-container {
    display: flex;
    margin-bottom: 1rem;
    gap: 1rem;
}

.result-container {
    height: 40px;
    margin-bottom: 20px;
}

.result-string {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

button {
    background-color: #157F1F;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    border: none;
    font-family: sans-serif;
    border-radius: 5px;
}

/* remove text highlighting on buttons */

button {
-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}